.header {
  font-family: "Dameron", sans-serif;
  position: fixed;
  top: 0;
}

.transparentBack {
  background-color: transparent;
}
.defaultBack {
  background-color: rgb(16, 15, 15);
}
.header-nav {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding: 1px 0;

  transition: transform 0.3s ease; /* Add a smooth transition effect */
  transform: translateY(0); /* Initially, the nav is not transformed */
}
.hideNav {
  transform: translateY(-100%);
}

.space-span {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.explorer-span {
  color: var(--main-color);
  padding-left: 5px;
  letter-spacing: normal;
  font-size: 32px;
  font-family: "Dameron", sans-serif;
}

.nav-h1 {
  margin: 10px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.header-nav ul li a:hover {
  color: #ffffff;
}
.header-nav ul li a:visited {
  color: #ffffff;
}

/* Hamburger menu */
/* Define your existing styles */

/* Hamburger Menu Icon Styles */


/* Media Query for Small Screens (adjust the max-width as needed) */
/* Add this to your existing CSS */
/* Add this to your existing CSS */
/* Add this to your existing CSS */
.hamburger-btn {
  display: none; /* Initially hide the hamburger button on larger screens */
  cursor: pointer;
}

.mobile-nav {
  display: none; /* Initially hide the mobile navigation */
}

@media only screen and (max-width: 600px) {
  /* Adjust the breakpoint as needed */
  .hamburger-btn {
    display: block; /* Show the hamburger button on smaller screens */
  }

  .mobile-nav {
    display: block; /* Show the mobile navigation on smaller screens */
  }



  .hideNav {
    display: none; /* Hide the mobile navigation on smaller screens when the hide class is applied */
  }

  /* Add any additional styling for your mobile navigation here */
}


