@import url("https://fonts.cdnfonts.com/css/sf-alien-encounters");
@import url("https://fonts.cdnfonts.com/css/dameron");
@import url("https://fonts.cdnfonts.com/css/a-space-demo");
@import url("https://fonts.cdnfonts.com/css/digital-7-mono");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  /* Colors */
  --main-color: #00faabf0;
  --background: rgba(64, 62, 62, 0.4);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.928);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
